.aboutText {
    padding-top: 15px;
    color: #fff;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    background: linear-gradient(120deg, #5399af, #64a38d, #75ac6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.containerBox {
    padding: 20px 80px;
    color: white;
}

.border {
    margin-top: 22px;
    margin-left: 20px;
    border-right: 1px solid #fff;
    height: 72px;
    position: absolute;
}

@media (min-width: 1200px) and (max-width: 1304px) {
    @media (max-width: 1200px) {}
    @media (max-width: 450px) {
        .containerBox {
            padding: 20px 50px 30px;
        }
        .howItWork {
            padding: 30px 50px!important;
        }
    }
}


/* ======== how it work section ====== */

.howItWork {
    color: #5E5E5E;
    text-align: center;
    padding: 30px 80px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    background: linear-gradient(120deg, #5399af, #64a38d, #75ac6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.line {
    border-top: 1.5px solid #5399af;
    opacity: 0.7;
    width: 100px;
    margin: 20px auto;
}

.getStarted {
    margin-top: 40px;
    text-align: left;
}

.alacarteBtn,
.classpkgsBtn {
    float: right!important;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-top: 40px;
}

.alacarteBtn {
    background: linear-gradient(130deg, #5399af, #64a38d, #75ac6d);
    padding: 10px 25px;
}

.alacarteBtn:hover {
    background: #5399af;
}

.classpkgsBtn {
    background: linear-gradient(-30deg, #5399af, #64a38d, #75ac6d);
    padding: 10px 20px;
}

.classpkgsBtn:hover {
    background: #5399af;
}

@media (max-width: 768px) {
    .alacarteBtn,
    .classpkgsBtn {
        float: none!important;
    }
    .getStarted {
        text-align: center;
    }
}