.footer {
    min-height: 100px;
    position: relative;
    bottom: 0;
    background-color: #191606;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #191606;
    color: #F8F8F8;
}