.footer {
    min-height: 150px;
    position: relative;
    bottom: 0;
    background-color: #87a097;
    opacity: 0.8;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: #87a097;
    opacity: 0.8;
    color: #F8F8F8;
    text-align: center;
}