.navbar-inverse {
    /* background: linear-gradient(-45deg, #e67b76, #ec9614, #f3c842); */
    background: #54997d;
    border-radius: 0px;
    border: 0px;
    z-index: 1;
}

.navbar {
    margin-bottom: 0px!important;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fcf1be;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    border-color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -50px;
    }
}

@media (min-width: 992px) {
    .navbar-right {
        margin-top: -50px;
    }
}

@media (min-width: 1200px) {
    .navbar-right {
        margin-top: -55px;
    }
}

@media (min-width: 768px) {
    a.aboutLink:after,
    a.contactLink:after,
    a.registerLink:after,
    a.loginLink:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 2px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    a.aboutLink:hover:after,
    a.contactLink:hover:after,
    a.registerLink:hover:after,
    a.loginLink:hover:after {
        opacity: 1;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}