.navbar-inverse {
    background: linear-gradient(-45deg, #5399af, #64a38d, #75ac6d);
    opacity: 0.8;
    border-radius: 0px;
    border: 0px;
    z-index: 1;
}

.navbar {
    margin-bottom: 0px!important;
}

.navbar-nav {
    flex-direction: row;
}


/* Logo */

img.logoImg {
    width: 12%;
    height: auto;
}

p#logo {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    margin: 12px
}

a.logo,
a.logo:hover {
    text-decoration: none;
    color: #ffffff;
}


/* */

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fcf1be;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    border-color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: transparent;
}

@media (min-width: 320px) and (max-width: 460px) {
    img.logoImg {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 460px) and (max-width: 768px) {
    img.logoImg {
        width: 20%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -50px;
    }
    img.logoImg {
        width: 16%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .navbar-right {
        margin-top: -50px;
    }
    img.logoImg {
        width: 12%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .navbar-right {
        margin-top: -55px;
    }
}

@media (min-width: 768px) {
    a.aboutLink:after,
    a.contactLink:after,
    a.registerLink:after,
    a.loginLink:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 2px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    a.aboutLink:hover:after,
    a.contactLink:hover:after,
    a.registerLink:hover:after,
    a.loginLink:hover:after {
        opacity: 1;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}


/* DROPDOWN MENU */


/* Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}